body {
    background: #000000 url("img/NERV.png");
    text-align: center;
}

h1, p {
    color: blueviolet;
}

h1 {
    font-size: 4rem;
    padding-top: 5rem;
}
.bigger-text {
    font-size: 1.5rem;
}
.container {
    background: url("img/nerv_window.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 900px;
    width: 1300px;
    margin: auto;
  }